
{% block body %}
    <link href="{{ asset('css/password.css') }}" rel="stylesheet">
    <h1>Nouveau mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Sauvegarder</button>
    {{ form_end(resetForm) }}
{% endblock %}
