main{
    width: 100%;
    height: 100%;
}
.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.card-container{
    justify-self: flex-start;
    align-self: flex-start;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.full-card-container h4{
    text-align: center;
    color: #152149;

}
.full-card-container{
    margin-top: -4rem;
}
.homeCardAdmin{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    margin: 1rem;
    border-radius: 5px;
    color: white;
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    animation: slide 1s forwards
}
.homeCardAdmin h3{
    font-size: small;
}
.homeCardAdmin h3{
    font-size: small;
}
.homeCardAdmin img{ 
    width: 25px;
}
.homeCardAdmin svg{
    width: 25px;
    height: auto;
}
.assoc-pres{
    margin-top: 1rem;
}
.assoc-name{
    font-size: 1.5rem;
}
.assoc-container h3{
    margin: 5px !important;
}
.table{
    width: 50%;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.assoc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.assoc-logo{
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.table td, .table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #152149;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.table tr:hover{
    background-color: #ddd;
    cursor: pointer;
}
.table td:last-child{
    text-align: center;
}
.table td a{
    color: red !important;
}
.table td a:hover{
    color: #152149 !important;
}
h3{
    text-align: center;
}
.header-pdf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.header-pdf img{
    width: 150px;
    height: auto;
}

