main{
  height: 100%;
}
.association-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-bar-input{
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: 25px;
    width: 20%;
    height: 40px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-right: 1rem;
}
.search-bar-input:focus{
    border: 2px solid #152149;
}
.assoc-img-modal {
  width: 50%;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  margin-bottom: 1rem;
}
.associations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  .total-count{
    display: none;
}

  .uniqueAssoc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.5s ease-in-out;
    color: #2E2E2E;
    text-decoration: none;
    background-color: #fff;
  }
  
  .assoc-name{
      text-transform: uppercase;
      font-size: 1.2em;
      flex-wrap: wrap;
      width: 13rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
  .assoc-name-fully{
    font-size: 1.2em;
    width: auto;
  }
    .card-description{
        font-size: 0.8em;
        text-overflow: ellipsis;
        overflow: hidden; 
        flex-wrap: nowrap;
        text-align: center;
    }

  .uniqueAssoc:hover{
    box-shadow: #152149 0px 20px 30px -10px;
  }
  .arrow-left{
    align-self: flex-start;
    margin-left: 4rem;
    margin-bottom: 5px;
  }
  .flex-me{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    }
  .unique-assoc-container{
      width: 80%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
       background-color: #fff;
       border-radius: 5px;
      flex-direction: row;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 3rem;
  }
  
  .assoc-description{
    width: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1.2rem;
  }
  .unique-assoc-title{
    width: 50%;
      display: flex;
      color: #2E2E2E;
      justify-content: center;
      align-items: center;
    flex-direction: column;
  }
.assoc-img{
    width: 50%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
  }
  .btn-adherer{
  border-radius: 20px;
	border: 2px solid #fff;
	background-color: #152149;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;  
    margin-top: 1rem;
    margin-bottom: 5px;
    width: 15rem;
    height: 2.7rem;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

  }
  .btn-adherer:hover{
    background-color: white;
    color: #152149;
    border: 1px solid #152149;
    font-weight: 600;
    cursor: pointer;
  }

  .btn-quitter{
  border-radius: 20px;
	border: 2px solid rgb(233, 58, 58);
  /* border: 1px solid green; */
	background-color: #ffff;
	color: #2E2E2E;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;  
    width: 15rem;
    height: 2.7rem;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

  }

  .btn-quitter:hover{
    background-color: rgb(233, 58, 58);
    color: #ffff;
    border: 1px solid rgb(233, 58, 58);
    font-weight: 600;
    cursor: pointer;
  }
  .trait{
    width: 3px;
    height: 10rem;
    background-color: #152149;
  }
  .assoc-name{
    text-align: center;
  }
  .assoc-img-first{
    width: 80% !important;
    object-fit: contain;
    aspect-ratio: 3/2;
  }

  .input-pagination{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    
  }
  .mobile-pagination{
    display: none;
  }

  .modal-adherer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    height: auto;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* border-radius: 5px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     padding: 1rem;
    display: none;
  }
  .modal-desadherer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    height: auto;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* border-radius: 5px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     padding: 2rem;
    display: none;
  }
  .modal-adherer[data-active=true]{
    display: flex;
  }
  .modal-desadherer[data-active=true]{
    display: flex;
  }

  .modal-adherer h1{
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
  }

  .modal-desadherer h1{
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
  }
  .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .btn-yes-quit{
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #152149;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    margin-right: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;  
      width: 10rem;
      height: 2.7rem;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
  }
  .btn-yes-quit:hover{
    background-color: #2c4088;
    border: 1px solid #152149;
    font-weight: 600;
    cursor: pointer;
  }
  .btn-no-quit{
    border-radius: 5px;
	  border: 2px solid rgb(233, 58, 58);
  /* border: 1px solid green; */
	  background-color: #ffff;
	color: #2E2E2E;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;  
    width: 10rem;
    height: 2.7rem;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .btn-no-quit:hover{
    background-color: rgb(233, 58, 58);
    color: #ffff;
    border: 1px solid rgb(233, 58, 58);
    font-weight: 600;
    cursor: pointer;
  }
  .fa-arrow-left{
    font-size: 1.8em;
    color: #152149;
  }

  @media only screen and (max-width: 963px){
    .unique-assoc-container{
      flex-direction: column;
      padding: 1rem;
      height: auto;
      margin-top: 2rem;
    }
    .btn-container{
      flex-direction: column;
    }
    .mobile-pagination{
      display: block;
    }

    .input-pagination{
      flex-direction: column;
    }
    .search-bar-input{
      margin-right: 0;
      width: 60%;
    }
    .pagination{
      margin-top: 1rem;
    }
    .arrow-left{
      height: 10%;
      width: 100%;
      display: flex;
      margin: 0;
      justify-content: flex-end;
      align-items: center;
    }
    .fa-arrow-left{
      margin-right: 1.2rem;
      font-size: 2.2rem;
      color: #152149;
    }
    .flex-me{
      flex-direction: column;
      justify-content: flex-start;
    }
    .trait{
      width: 80%;
      height: 1px;
      background-color: #152149;
      margin: 1.5rem;
    }
    .assoc-img{
      width: 100%;
    }
    .modal-adherer{
      height: auto;
      width: 80%;
    }
     .modal-desadherer{
      height: auto;
      width: 80%;
    }
    .assoc-description{
      width: 90%;
    }
  }


