main{
    overflow-y: scroll;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h2{
    text-align: start;
}
.assoc-container{
    text-decoration: none;
    color: black;
    width: 20rem;
    height: 25rem;
    border-radius: 5px;
    margin: 1rem;
    background-color: white;
    /* border: 1px solid black; */
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.5s ease-in-out;
    color: #2E2E2E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* filter: grayscale(100%); */
}

.assoc-container:hover{
    filter: grayscale(0%);
    background-color: #152149;
    color: white;
}
.assoc-img{
    width: 50%;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: auto;
    margin-bottom: 2rem;
}
.input-sbmt{
    display: none;
}

.p-choose{
    margin: 0;
    padding: 0;
}
.form-sbmt{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.btn-send{
    margin: 5px;
    width: auto;
    height: auto;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    padding: 5px;
}
.btn-admin{
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    background-color: #4245a8;
    color: white;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    padding: 5px;
}
.input-btn{
    display: none;
}
.input-file{
    width: auto;
    height: auto;
    border-radius: 5px;
    border: none;
    background-color: #2E2E2E;
    color: white;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    padding: 5px;
}
.input-file svg{
    font-size: 1rem;
}
