.container{
    overflow-y: scroll !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.question-container{
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    border: 1px solid black;
    margin-top: 2rem;
}

/* scrollBar */
.container::-webkit-scrollbar{
    width: 10px;
}
.container::-webkit-scrollbar-track {
  background-color: #e8e9f0;
}
.container::-webkit-scrollbar-thumb {
  background-color: #152149;
  border-radius: 5px;
}