main{
  height: 100%;
  overflow-y: scroll;
}
.association-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h4{
  text-align: center;
  margin: 10px 0 0 0;
}
.full-card-container{ 
  margin: 0 !important;
}
.search-bar-input{
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: 25px;
    width: 20%;
    height: 40px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-right: 1rem;
}
.verified-img{
  width: 25%;
  margin-top: 5px;
}
.search-bar-input:focus{
    border: 2px solid #152149;
}
.associations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  .total-count{
    display: none;
}
 .custom-btn{
  width: auto !important;
 }
  .uniqueAssoc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.5s ease-in-out;
    color: #2E2E2E;
    text-decoration: none;
    background-color: #fff;
  }
  
  .assoc-name{
      font-size: 1.2em;
      flex-wrap: wrap;
      width: 13rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
  .assoc-name-main{
 font-size: 1.2em;
 width: auto;
  }


    .card-description{
        font-size: 0.8em;
        text-overflow: ellipsis;
        overflow: hidden; 
        flex-wrap: nowrap;
        text-align: center;
    }

  .uniqueAssoc:hover{
    box-shadow: #152149 0px 20px 30px -10px;
  }
  .flex-me{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    }
  .unique-assoc-container{
      width: 80%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
       background-color: #fff;
       border-radius: 5px;
      flex-direction: row;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 5rem;
  }
  .assoc-description{
    width: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1.2rem;
  }
  .unique-assoc-title{
    width: 50%;
      display: flex;
      color: #2E2E2E;
      justify-content: center;
      align-items: center;
    flex-direction: column;
  }
.assoc-img{
    width: 50%;
    height: auto;
  }
  .btn-adherer{
  border-radius: 20px;
	border: 2px solid #fff;
	background-color: #152149;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;  
    margin: 1rem;
    width: 15rem;
    height: 2.7rem;
    text-decoration: none;
  }
  .btn-adherer:hover{
    background-color: white;
    color: #152149;
    border: 1px solid #152149;
    font-weight: 600;
    cursor: pointer;
  }
  .trait{
    width: 3px;
    height: 10rem;
    background-color: #152149;
  }
  .assoc-name{
    text-align: center;
  }
  .assoc-img-first{
    width: 50%;
    height: auto;
  }
  .arrow-left{
    display: none;
  }
  .input-pagination{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    
  }
  .mobile-pagination{
    display: none;
  }
  .table{
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.assoc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.assoc-logo{
    width: 80%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.table td, .table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #152149;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.table tr:hover{
    background-color: #ddd;
    cursor: pointer;
}
.table td:last-child{
    text-align: center;
}
.table td a{
    color: red !important;
}
.table td a:hover{
    color: #152149 !important;
}
h3{
    text-align: center;
}
.modal-adherer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    height: auto;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* border-radius: 5px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     padding: 1rem;
    display: none;
  }
  .modal-adherer[data-active=true]{
    display: flex;
  }

.modal-adherer h1{
  text-align: center;
}
  @media only screen and (max-width: 963px){
    .unique-assoc-container{
      flex-direction: column;
      padding: 1rem;
      height: auto;
      margin-top: 2rem;
    }
    .mobile-pagination{
      display: block;
    }

    .input-pagination{
      flex-direction: column;
    }
    .search-bar-input{
      margin-right: 0;
      width: 60%;
    }
    .pagination{
      margin-top: 1rem;
    }
    .arrow-left{
      height: 10%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .fa-arrow-left{
      margin-right: 1.2rem;
      font-size: 2.2rem;
      color: #152149;
    }
    .flex-me{
      flex-direction: column;
      justify-content: flex-start;
    }
    .trait{
      width: 80%;
      height: 3px;
      background-color: #152149;
      margin: 1.5rem;
    }
    .assoc-img{
      width: 100%;
    }
    .assoc-description{
      width: 90%;
    }

  }


