{% extends 'base.html.twig' %}

{% block title %}Hello FaqController!{% endblock %}

{% block body %}
 <link href="{{ asset('css/faq.css') }}" rel="stylesheet">

    <div class="container">
    <h1>{{variableName}}</h1>
    </div>

{% endblock %}
